<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.snails.scheduler.dao.CompanyMapper">

    <insert id="add" parameterType="Company" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO
		company(industry,scale,site,financing,address,logo,manager,managerAvatar,companyName,introduction,location)
		VALUES(#{industry},#{scale},#{site},#{financing},#{address},#{logo},#{manager},#{managerAvatar},#{companyName},#{introduction},#{location})
	</insert>

</mapper>