<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:lang="http://www.springframework.org/schema/lang" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:cache="http://www.springframework.org/schema/cache" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	         http://www.springframework.org/schema/beans/spring-beans.xsd
	         http://www.springframework.org/schema/lang
	         http://www.springframework.org/schema/lang/spring-lang.xsd      
	         http://www.springframework.org/schema/tx   
	         http://www.springframework.org/schema/tx/spring-tx.xsd    
	         http://www.springframework.org/schema/aop     
	         http://www.springframework.org/schema/aop/spring-aop.xsd    
	         http://www.springframework.org/schema/mvc     
	         http://www.springframework.org/schema/mvc/spring-mvc.xsd   
	         http://www.springframework.org/schema/context     
	         http://www.springframework.org/schema/context/spring-context.xsd
	         http://www.springframework.org/schema/cache
	         http://www.springframework.org/schema/cache/spring-cache.xsd
	         http://www.springframework.org/schema/task 
	         http://www.springframework.org/schema/task/spring-task.xsd">
	<import resource="classpath:applicationContext-quartz.xml"/>
	
	<context:component-scan base-package="net.snails.scheduler" />
	<context:component-scan base-package="net.snails.scheduler.dao" resource-pattern="*Dao.class" />
	
	<mvc:annotation-driven />

	<mvc:default-servlet-handler />

	<tx:annotation-driven />

	<task:annotation-driven />
	
	<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter" />
	<bean class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping"/>
	
<!-- 	<bean id="csdnBlogJob" class="net.snails.scheduler.CsdnBlogJob"></bean> -->

	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:application.properties</value>
			</list>
		</property>
	</bean>

<!-- 	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"  destroy-method="close"> -->
<!-- 		<property name="driverClassName" value="com.mysql.jdbc.Driver" /> -->
<!-- 		<property name="url" value="jdbc:mysql://localhost:3306/dmcp" /> -->
<!-- 		<property name="username" value="root" /> -->
<!-- 		<property name="password" value="" /> -->
<!-- 		<property name="initialSize" value="3"></property> -->
<!-- 		<property name="maxActive" value="10"></property> -->
<!-- 		<property name="maxIdle" value="${jdbc.maxIdle}"></property> -->
<!-- 		<property name="minIdle" value="${jdbc.minIdle}"></property> -->
<!-- 		<property name="maxWait" value="${jdbc.maxWait}"></property> -->
<!-- 	</bean> -->



<!-- <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close"> -->
<!-- 		<property name="driverClass" value="${jdbc.driverClass}" />		数据库驱动 -->
<!-- 		<property name="jdbcUrl" value="${jdbc.url}" />		连接URL串 -->
<!-- 		<property name="user" value="${jdbc.username}" />		连接用户名 -->
<!-- 		<property name="password" value="${jdbc.password}" />		连接密码 -->
<!-- 		<property name="initialPoolSize" value="5" />		初始化连接池时连接数量为5个 -->
<!-- 		<property name="minPoolSize" value="5" />		允许最小连接数量为5个 -->
<!-- 		<property name="maxPoolSize" value="20" />		允许最大连接数量为20个 -->
<!-- 		<property name="numHelperThreads" value="20" />			允许最大连接数量为20个 -->
<!-- 		<property name="maxStatements" value="100" />		允许连接池最大生成100个PreparedStatement对象 -->
<!-- 		<property name="maxIdleTime" value="3600" />		连接有效时间，连接超过3600秒未使用，则该连接丢弃 -->
<!-- 		<property name="acquireIncrement" value="2" />		连接用完时，一次产生的新连接步进值为2 -->
<!-- 		<property name="acquireRetryAttempts" value="5" />		获取连接失败后再尝试10次，再失败则返回DAOException异常 -->
<!-- 		<property name="acquireRetryDelay" value="600" />		获取下一次连接时最短间隔600毫秒，有助于提高性能 -->
<!-- 		<property name="testConnectionOnCheckin" value="true" />		检查连接的有效性，此处小弟不是很懂什么意思 -->
<!-- 		<property name="idleConnectionTestPeriod" value="1200" />		每个1200秒检查连接对象状态 -->
<!-- 		<property name="checkoutTimeout" value="10000" />		获取新连接的超时时间为10000毫秒 -->
<!-- 	</bean> -->



<!-- 	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean"> -->
<!-- 		<property name="mapperLocations" value="classpath:/net/snails/scheduler/dao/*.xml"></property>  -->
<!-- 		<property name="dataSource" ref="dataSource" /> -->
<!-- 	</bean> -->

<!-- 	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer"> -->
<!-- 	<property name="annotationClass" value="org.springframework.stereotype.Repository" /> -->
<!-- 		<property name="basePackage" value="net.snails.scheduler.dao" /> -->
<!-- 		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" /> -->
<!-- 	</bean> -->

<!-- 	<bean id="transactionManager" -->
<!-- 		class="org.springframework.jdbc.datasource.DataSourceTransactionManager"> -->
<!-- 		<property name="dataSource" ref="dataSource" /> -->
<!-- 	</bean> -->

</beans>
